<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>2021 Günlük</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <div class="main">
        <!-- <input type="button" value="+" class="select-file"/> -->
        <input type="button" value="Yenile" class="refresh" />
        <input type="button" value="Excel Dosyasını Aç" class="open-excel" />
        <button class="close">X</button>
        <!-- <button class="refresh">Refresh</button> -->
        <div class="message"></div>
        <div class="md"></div>
      </div>
      <div class="git-cont">
        <a
          class="git-icon"
          href="https://github.com/xafm/2021-gunluk"
          target="_"
        >
          <img src="git120.png" alt="GitHub" />
        </a>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
