<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Markdown Reader!</title>
  <link rel="stylesheet" href="style.css">
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"
  >
</head>

<body>
  <div class="container">
    <!-- <input type="button" value="+" class="select-file"/> -->
    <input type="button" value="Yenile" class="refresh"/>
    <input type="button" value="Excel Dosyasını Aç" class="open-excel"/>
    <button class="close">X</button>
    <!-- <button class="refresh">Refresh</button> -->
    <div class="message"></div>
    <div class="md"></div>    
  </div>
  <script src="./script.js"></script>
</body>

</html>
